<template>
  <div>
    <app-widget
      :app="app"
      :model="model"
      :title="title"
      @delete="$confirmDelete(selected)"
    >
      <app-table
        :app="app"
        :model="model"
        :headers="headers"
        :items="items"
        :loading="loading"
        v-model="selected"
        @edit="editItem"
        @delete="deleteItem"
        @refresh="initialize"
      />
    </app-widget>
  </div>
</template>

<script>
import AppWidget from 'components/AppWidget'
import AppTable from 'components/AppTable'

export default {
  name: 'table-normal',
  components: {
    AppWidget,
    AppTable
  },
  data() {
    return {
      app: 'components',
      model: 'table_normal',
      title: 'menu.tableNormal',
      loading: false,
      selected: [],
      headers: [
        {
          text: 'Dessert (100g serving)',
          align: 'start',
          value: 'name'
        },
        { text: 'Calories', value: 'calories' },
        { text: 'Fat (g)', value: 'fat' },
        { text: 'Carbs (g)', value: 'carbs' },
        { text: 'Protein (g)', value: 'protein' },
        { text: 'Actions', value: 'actions', sortable: false }
      ],
      items: []
    }
  },
  methods: {
    initialize() {
      this.loading = true
      this.items = [
        {
          id: 1,
          name: 'Frozen Yogurt',
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0
        },
        {
          id: 2,
          name: 'Ice cream sandwich',
          calories: 237,
          fat: 9.0,
          carbs: 37,
          protein: 4.3
        },
        {
          id: 3,
          name: 'Eclair',
          calories: 262,
          fat: 16.0,
          carbs: 23,
          protein: 6.0
        }
      ]
      this.loading = false
    },
    editItem(item) {
      console.log(item)
    },
    deleteItem(items) {
      this.$confirmDelete(
        items,
        (items) =>
          new Promise((resolve) => {
            console.log(items)
            resolve(items)
          })
      )
    },
    onServer(options) {
      console.log(options)
    }
  }
}
</script>
