<template>
  <v-navigation-drawer
    app
    :mini-variant="!isSmall"
    :expand-on-hover="!isSmall"
    :permanent="!isSmall"
    :temporary="isSmall"
    :value="sidebar"
    @input="(value) => $emit('update:sidebar', value)"
  >
    <router-link class="hidden-xs-only logo" to="/">
      <v-img contain height="40" :src="require('@/assets/logo.svg')" />
    </router-link>
    <div class="d-flex d-sm-none">
      <v-system-bar lights-out />
      <v-list>
        <v-list-item>
          <v-list-item-avatar>
            <v-img src="https://cdn.vuetifyjs.com/images/john.png"></v-img>
          </v-list-item-avatar>
        </v-list-item>

        <v-list-item link>
          <v-list-item-content>
            <v-list-item-title class="text-h6"> John Leider </v-list-item-title>
            <v-list-item-subtitle>john@vuetifyjs.com</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-action>
            <v-icon>mdi-menu-down</v-icon>
          </v-list-item-action>
        </v-list-item>
      </v-list>
    </div>
    <v-divider />
    <v-list flat dense nav>
      <v-list-item-group color="primary">
        <span v-for="item in validItems(menuItems)" :key="item.name">
          <template v-if="item.children">
            <v-list-group
              no-action
              color="primary"
              :prepend-icon="item.meta.icon"
              :group="item.path"
            >
              <template v-slot:activator>
                <v-list-item-content>
                  {{ menuTitle(item.name) }}
                </v-list-item-content>
              </template>
              <template v-for="secondItem in validItems(item.children)">
                <template v-if="secondItem.children">
                  <v-list-group
                    no-action
                    sub-group
                    color="primary"
                    :group="secondItem.path"
                    :key="secondItem.name"
                  >
                    <template v-slot:activator>
                      <v-list-item-content>
                        {{ menuTitle(secondItem.name) }}
                      </v-list-item-content>
                    </template>
                    <v-list-item
                      v-for="thirdItem in validItems(secondItem.children)"
                      :key="thirdItem.name"
                      :to="`/${item.path}/${secondItem.path}/${thirdItem.path}`"
                    >
                      <v-list-item-title v-text="menuTitle(thirdItem.name)" />
                      <v-list-item-icon
                        v-if="thirdItem.meta && thirdItem.meta.icon"
                      >
                        <v-icon v-text="thirdItem.meta.icon" />
                      </v-list-item-icon>
                    </v-list-item>
                  </v-list-group>
                </template>
                <template v-else>
                  <v-list-item
                    link
                    :key="secondItem.name"
                    :to="`/${item.path}/${secondItem.path}`"
                  >
                    <v-list-item-title v-text="menuTitle(secondItem.name)" />
                    <v-list-item-icon
                      v-if="secondItem.meta && secondItem.meta.icon"
                    >
                      <v-icon v-text="secondItem.meta.icon" />
                    </v-list-item-icon>
                  </v-list-item>
                </template>
              </template>
            </v-list-group>
          </template>
          <template v-else>
            <v-list-item link :to="`/${item.path}`">
              <v-list-item-icon>
                <v-icon v-text="item.meta.icon" />
              </v-list-item-icon>
              <v-list-item-title v-text="menuTitle(item.name)" />
            </v-list-item>
          </template>
        </span>
      </v-list-item-group>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'drawer',
  props: {
    sidebar: {
      type: Boolean
    },
    menuItems: {
      type: Array
    }
  },
  computed: {
    ...mapGetters(['permissions']),
    isSmall() {
      return this.$vuetify.breakpoint.smAndDown
    }
  },
  methods: {
    menuTitle(name) {
      return this.$t(`menu.${name}`)
    },
    validItems(items) {
      return items.filter(
        (item) =>
          !item.meta?.permission ||
          this.permissions.includes(item.meta?.permission)
      )
    }
  }
}
</script>

<style lang="scss" scoped>
.logo {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
</style>
