<template>
  <div class="about">
    <app-widget :app="app" :model="model" :title="title">
      <h1>This is an about page</h1>
    </app-widget>
  </div>
</template>

<script>
import AppWidget from 'components/AppWidget'

export default {
  name: 'about',
  components: {
    AppWidget
  },
  data() {
    return {
      app: 'about',
      model: 'about',
      title: 'menu.about'
    }
  }
}
</script>
