<template>
  <validation-provider
    class="app-input"
    ref="validation"
    v-slot="{ errors }"
    :name="name"
    :rules="rules"
  >
    <template v-if="isNormalType">
      <v-text-field
        :type="type"
        :disabled="disabled"
        :error-messages="errors"
        :value="value"
        v-bind="binds"
        @input="onInput"
      >
        <template v-slot:label>
          <div>
            {{ label }} <small class="error--text" v-if="isRequired">*</small>
          </div>
        </template>
        <!-- @slot default -->
        <slot />
      </v-text-field>
    </template>

    <template v-if="type === 'textarea'">
      <v-textarea
        clearable
        no-resize
        clear-icon="mdi-close-circle"
        :disabled="disabled"
        :error-messages="errors"
        :value="value"
        v-bind="binds"
        @input="onInput"
      >
        <template v-slot:label>
          <div>
            {{ label }} <small class="error--text" v-if="isRequired">*</small>
          </div>
        </template>
        <!-- @slot default -->
        <slot />
      </v-textarea>
    </template>

    <template v-if="type === 'switch'">
      <v-switch
        :label="label"
        :disabled="disabled"
        :value="value"
        v-bind="binds"
        @change="onInput"
      >
        <!-- @slot default -->
        <slot />
      </v-switch>
    </template>

    <template v-if="type === 'slider'">
      <v-slider
        thumb-label="always"
        :label="label"
        :disabled="disabled"
        :value="value"
        v-bind="binds"
        @input="onInput"
      >
        <!-- @slot default -->
        <slot />
      </v-slider>
    </template>

    <template v-if="type === 'checkbox'">
      <v-checkbox
        :label="label"
        :disabled="disabled"
        :value="value"
        v-bind="binds"
        @change="onInput"
      >
        <!-- @slot default -->
        <slot />
      </v-checkbox>
    </template>

    <template v-if="type === 'radio'">
      <p class="v-label theme--light mb-0">{{ label }}</p>
      <v-radio-group :value="value" v-bind="groupBinds" @change="onInput">
        <!-- @slot default -->
        <slot :items="items" />
        <v-radio
          v-for="item in items"
          :key="item.id || item.label"
          :label="item.label"
          :value="item.value || item.label"
          v-bind="binds"
        />
      </v-radio-group>
    </template>

    <template v-if="type === 'file'">
      <v-file-input
        show-size
        truncate-length="15"
        :label="label"
        :value="value"
        v-bind="binds"
        @change="onInput"
      >
        <!-- @slot default -->
        <slot />
      </v-file-input>
    </template>

    <template v-if="type === 'select'">
      <v-autocomplete
        clearable
        :label="label"
        :items="items"
        :value="value"
        v-bind="binds"
        @input="onInput"
      >
        <!-- @slot default -->
        <slot />

        <template v-slot:selection="data">
          <slot name="selection" :data="data">
            {{ data.item.label }}
          </slot>
        </template>

        <template v-slot:item="data">
          <slot name="item" :data="data">
            {{ data.item.label }}
          </slot>
        </template>
      </v-autocomplete>
    </template>

    <template v-if="type === 'chips'">
      <v-autocomplete
        chips
        multiple
        deletable-chips
        :label="label"
        :items="items"
        :value="value"
        v-bind="binds"
        @input="onInput"
      >
        <!-- @slot default -->
        <slot />

        <template v-slot:selection="data">
          <slot name="selection" :data="data">
            <v-chip
              close
              :input-value="data.selected"
              v-bind="data.attrs"
              @click="data.select"
              @click:close="removeChips(data.item)"
            >
              {{ data.item.label }}
            </v-chip>
          </slot>
        </template>

        <template v-slot:item="data">
          <slot name="item" :data="data">
            {{ data.item.label }}
          </slot>
        </template>
      </v-autocomplete>
    </template>
  </validation-provider>
</template>

<script>
import { ValidationProvider } from 'vee-validate'

export default {
  name: 'app-input',
  components: {
    ValidationProvider
  },
  props: {
    /**
     * validation name
     */
    name: {
      type: String,
      required: true
    },
    /**
     * validation rules
     */
    rules: {
      type: [String, Object],
      default: ''
    },
    /**
     * label of input
     */
    label: {
      type: String,
      required: true
    },
    /**
     * input type
     */
    type: {
      type: String,
      default: 'text',
      validator: (val) => {
        return [
          'text',
          'number',
          'password',
          'tel',
          'time',
          'range',
          'color',
          'textarea',
          'checkbox',
          'select',
          'date',
          'radio',
          'switch',
          'slider',
          'file',
          'chips'
        ].includes(val)
      }
    },
    /**
     * value of input
     */
    value: {
      required: true
    },
    /**
     * disabled input
     */
    disabled: {
      type: Boolean,
      default: false
    },
    /**
     * Used for some input type
     */
    items: {
      type: Array,
      default: () => []
    },
    /**
     * bind options for table
     */
    groupBinds: {
      type: Object,
      default: () => ({})
    },
    /**
     * bind options for table
     */
    binds: {
      type: Object,
      default: () => ({})
    }
  },
  computed: {
    isRequired() {
      return this.rules instanceof Object
        ? this.rules.required
        : this.rules.split('|').includes('required')
    },
    isNormalType() {
      return ['text', 'number', 'password', 'tel'].includes(this.type)
    }
  },
  watch: {
    '$i18n.locale'(newValue, oldValue) {
      if (newValue !== oldValue) {
        this.$refs.validation.errors.length && this.$refs.validation.validate()
      }
    }
  },
  methods: {
    onInput(value) {
      /**
       * Set input for v-model
       * @type {Event}
       */
      this.$emit('input', value)
    },
    removeChips(selected) {
      const index = this.value.findIndex((value) => value === selected.value)
      index >= 0 && this.value.splice(index, 1)
    }
  }
}
</script>
