<template>
  <v-data-table
    multi-sort
    show-select
    :headers="headers"
    :items="items"
    :item-key="itemKey"
    :loading="loading"
    :search="search"
    :options.sync="options"
    :value="value"
    v-bind="bindOptions"
    @input="onInput"
  >
    <template v-slot:top>
      <!-- @slot top -->
      <slot name="top">
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        />
      </slot>
    </template>
    <template v-slot:item.actions="{ item }">
      <!-- @slot actions -->
      <slot name="actions" :item="item">
        <v-icon v-if="enableEdit" small @click="onEdit(item)">
          mdi-pencil
        </v-icon>
        <v-icon v-if="enableDelete" small class="ml-2" @click="onDelete(item)">
          mdi-delete
        </v-icon>
      </slot>
    </template>
    <template v-slot:no-data>
      <v-icon @click="onRefresh"> mdi-refresh </v-icon>
    </template>

    <!-- @slot default -->
    <slot />
  </v-data-table>
</template>

<script>
import { mapGetters } from 'vuex'
import debounce from 'debounce'

export default {
  name: 'app-table',
  props: {
    /**
     * App used for validate permission
     */
    app: {
      type: String,
      required: true
    },
    /**
     * Model used for validate permission
     */
    model: {
      type: String,
      required: true
    },
    /**
     * value for selected items
     */
    value: {
      type: Array,
      required: true
    },
    /**
     * table headers
     */
    headers: {
      type: Array,
      required: true
    },
    /**
     * table items
     */
    items: {
      type: Array,
      required: true
    },
    /**
     * table items key to select
     */
    itemKey: {
      type: String,
      default: 'id'
    },
    /**
     * table items
     */
    loading: {
      type: Boolean,
      default: false
    },
    /**
     * table server items length
     */
    serverSide: {
      type: Boolean,
      default: false
    },
    /**
     * table server items length
     */
    serverItemsLength: {
      type: Number,
      default: null
    },
    /**
     * Show add button
     */
    hideEdit: {
      type: Boolean,
      default: false
    },
    /**
     * Show delete button
     */
    hideDelete: {
      type: Boolean,
      default: false
    },
    /**
     * bind options for table
     */
    binds: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
    return {
      search: '',
      options: {}
    }
  },
  computed: {
    ...mapGetters(['permissions']),
    enableEdit() {
      return (
        !this.hideEdit &&
        this.permissions.includes(`${this.app}.change_${this.model}`)
      )
    },
    enableDelete() {
      return (
        !this.hideDelete &&
        this.permissions.includes(`${this.app}.delete_${this.model}`)
      )
    },
    bindOptions() {
      return this.serverSide
        ? { ...this.binds, serverItemsLength: this.serverItemsLength }
        : this.binds
    }
  },
  watch: {
    options: {
      handler(newValue, oldValue) {
        this.serverSide && newValue !== oldValue && this.onServer()
      },
      deep: true
    },
    search(newValue, oldValue) {
      this.serverSide && newValue !== oldValue && this.onServer()
    }
  },
  methods: {
    onInput(value) {
      /**
       * Set input for v-model
       * @type {Event}
       */
      this.$emit('input', value)
    },
    onEdit(item) {
      /**
       * Passthrough click edit item
       * @type {Event}
       */
      this.$emit('edit', item)
    },
    onDelete(item) {
      /**
       * Passthrough click delete item
       * @type {Event}
       */
      this.$emit('delete', [item])
    },
    onRefresh() {
      /**
       * Passthrough click refresh item
       * @type {Event}
       */
      this.$emit('refresh')
    },
    onServer: debounce(function () {
      /**
       * Passthrough server side
       * @type {Event}
       */
      this.$emit('server', { ...this.options, search: this.search })
    }, process.env.VUE_APP_DEBOUNCE)
  }
}
</script>
