.app-input {
  .v {
    &-input {
      padding-top: 12px;
      margin-top: 4px;

      &__slider {
        margin-top: 20px;
      }
    }
  }
}

pre {
  word-break: break-word;
  white-space: break-spaces;
}
