$primary: #1565C0;
$secondary: #424242;
$accent: #82B1FF;
$error: #FF5252;
$info: #2196F3;
$success: #4CAF50;
$warning: #FFC107;

$base-font-color: #2d2d2d;

$body-font-family: 'Open Sans', sans-serif;
