<template>
  <div class="login">
    <h2 class="auth-layout--title">{{ $t('menu.login') }}</h2>
    <app-form hide-cancel @submit="onSubmit" :loading="loading">
      <app-input
        name="username"
        rules="required"
        :label="$t('fields.username')"
        :binds="{ singleLine: true, prependIcon: 'mdi-account' }"
        v-model="formData.username"
      />
      <app-input
        name="password"
        type="password"
        rules="required"
        :label="$t('fields.password')"
        :binds="{ singleLine: true, prependIcon: 'mdi-lock' }"
        v-model="formData.password"
      />

      <template v-slot:actions>
        <v-btn
          color="primary"
          type="submit"
          width="100%"
          class="mt-2"
          :disabled="loading"
        >
          {{ $t('btn.login') }}
        </v-btn>
      </template>
    </app-form>
    <div class="auth-layout--footer">
      <router-link :to="{ name: 'forget-password' }">
        {{ $t('label.forgetPassword') }}
      </router-link>
    </div>
  </div>
</template>

<script>
import AppForm from 'components/AppForm'
import AppInput from 'components/AppInput'

export default {
  name: 'login',
  components: {
    AppForm,
    AppInput
  },
  data() {
    return {
      formData: {},
      loading: false
    }
  },
  methods: {
    onSubmit() {
      this.loading = true
      this.$store.dispatch('login', this.$api, this.formData).then(() => {
        this.loading = false
        this.$router.push({ name: 'home' })
      })
    }
  }
}
</script>
