<template>
  <app-widget
    hide-add
    hide-delete
    :app="app"
    :model="model"
    :title="title"
    :loading="loading"
  >
    <app-form @submit="onSubmit" @cancel="onCancel" :loading="loading">
      <app-input
        name="name"
        rules="required"
        :label="$t('fields.name')"
        v-model="formData.name"
      />
      <app-input
        name="age"
        rules="required|min_value:18|max_value:60"
        type="slider"
        :label="$t('fields.age')"
        :binds="{ min: 18, max: 60 }"
        v-model="formData.age"
      />
      <app-input
        name="email"
        rules="email"
        :label="$t('fields.email')"
        v-model="formData.email"
      />
      <app-input
        name="address"
        rules="required"
        type="textarea"
        :label="$t('fields.address')"
        :binds="{ counter: 100 }"
        v-model="formData.address"
      />
      <app-input
        name="active"
        type="switch"
        :label="$t('fields.active')"
        v-model="formData.active"
      />
      <app-input
        name="active"
        type="checkbox"
        :label="$t('fields.active')"
        v-model="formData.active"
      />
      <app-input
        name="gender"
        type="radio"
        :label="$t('fields.gender')"
        :items="[
          { label: 'Male', value: 'male' },
          { label: 'Female', value: 'female' }
        ]"
        :group-binds="{ row: true }"
        v-model="formData.gender"
      />
      <app-input
        name="genderSelect"
        type="select"
        :label="$t('fields.gender')"
        :items="[
          { label: 'Male', value: 'male' },
          { label: 'Female', value: 'female' }
        ]"
        v-model="formData.genderSelect"
      />
      <app-input
        name="genderChips"
        type="chips"
        :label="$t('fields.gender')"
        :items="[
          { label: 'Male', value: 'male' },
          { label: 'Female', value: 'female' }
        ]"
        v-model="formData.genderChips"
      />
      <app-input
        name="file"
        type="file"
        :label="$t('fields.file')"
        v-model="formData.file"
      />
      <v-alert color="grey lighten-4 mt-5">
        <pre>{{ formData }}</pre>
      </v-alert>
    </app-form>
  </app-widget>
</template>

<script>
import AppWidget from 'components/AppWidget'
import AppInput from 'components/AppInput'
import AppForm from 'components/AppForm'

export default {
  name: 'forms',
  components: {
    AppWidget,
    AppForm,
    AppInput
  },
  data() {
    return {
      app: 'components',
      model: 'form',
      title: 'menu.forms',
      loading: false,
      formData: {}
    }
  },
  methods: {
    onSubmit() {
      this.loading = true
      setTimeout(() => {
        // this.formData = {}
        this.loading = false
      }, 5000)
    },
    onCancel() {
      console.log('cancel')
    }
  }
}
</script>
