<template>
  <app-widget :app="app" :model="model" :title="title">
    <app-widget
      :app="app"
      :model="model"
      title="Title"
      @add="alert('add')"
      @delete="alert('delete')"
    >
      Inside Widget
    </app-widget>
  </app-widget>
</template>

<script>
import AppWidget from 'components/AppWidget'

export default {
  name: 'widget',
  components: {
    AppWidget
  },
  data() {
    return {
      app: 'components',
      model: 'widget',
      title: 'menu.widget'
    }
  }
}
</script>
